In [3]:
import numpy as np
import pandas as pd

#Storin my data into a variable

In [4]:
df = pd.read_csv('Combined_Jobs_Final.csv')
df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

#In order to study the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

#Extracting title and description from dataset

In [6]:
df = df[['Title','Job.Description']]
df.head(3)

,Title,Job.Description
0,Server @ Tacolicious,Tacolicious' first Palo Alto store just opened...
1,Kitchen Staff/Chef @ Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,Bartender @ Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...

In [7]:
df['Title'][1]

'Kitchen Staff/Chef @ Claude Lane'

In [8]:
df['Job.Description'][1]

' \r\n\r\nNew French Brasserie in S.F. Financial District Seeks Chef\r\nWe are seeking an energetic, dynamic chef to take charge and grow with our company. Our ideal candidate is a motivated self-starter, has a great work ethic and is ready for the challenge of building their own team with executive support. \r\n\r\nThis position is a perfect fit for a talented chef ready to take the next step, someone who can multi task in a high volume kitchen and has exceptional organizational skills. Position requirements are experience with French cuisine, a minimum of 5 years as a sous chef in high volume, full service restaurant. He or she must be a team player, leading by example and working side by side with other members of the team. \r\n\r\nComputer and management skills are a must, as are experience in ordering, inventory and cost control. The right candidate will have previously demonstrated an understanding of leadership and accountability, and an infectious, energetic approach to problem solving and facing challenges. \r\n\r\nWe are an equal opportunity employer. Qualified applicants are considered for employment without regard to age, race, religion, sex, national origin, sexual orientation, disability, or veteran status. \r\n'

In [9]:
df = df.sample(n=1000,random_state=42)

#Data cleaning

In [10]:
!pip install nltk --user

Requirement already satisfied: nltk in c:\users\centu\appdata\local\programs\python\python312\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\centu\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in c:\users\centu\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\centu\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\centu\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\centu\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [11]:
import re
import nltk
import nltk.data

In [12]:

from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('punkt', download_dir='C:/Users/centu/AppData/Roaming/nltk_data')
nltk.download('stopwords', download_dir='C:/Users/centu/AppData/Roaming/nltk_data')
nltk.data.path.append('C:/Users/centu/AppData/Roaming/nltk_data')

[nltk_data] Downloading package punkt to
[nltk_data]     C:/Users/centu/AppData/Roaming/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:/Users/centu/AppData/Roaming/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

#Make an object of porterstemmer

In [13]:
ps = PorterStemmer()

#we want text letters and digits

In [14]:
def cleaning(txt):
    # PROPER regex pattern to keep only alphanumeric and whitespace
    cleaned_txt = re.sub(r'[^a-zA-Z0-9\s]', '', txt)
    tokens = nltk.word_tokenize(cleaned_txt.lower())
    return tokens

In [15]:
test_text = 'this is my book with 8987 digital and \n\n\n\n &^%'  
print(cleaning(test_text))

['this', 'is', 'my', 'book', 'with', '8987', 'digital', 'and']

In [69]:
# 1. FIRST ensure NLTK is properly installed and set up
import subprocess
import sys
import re

try:
    import nltk
    from nltk.tokenize import word_tokenize
except ModuleNotFoundError:
    subprocess.check_call([sys.executable, "-m", "pip", "install", "nltk"])
    import nltk
    from nltk.tokenize import word_tokenize

In [70]:
# 2. DOWNLOAD REQUIRED DATA with verification
try:
    nltk.download('punkt', quiet=True)
    # Verify punkt is working
    word_tokenize("Test sentence.")
except LookupError:
    nltk.download('punkt', force=True)

In [71]:
# 3. CORRECTED CLEANING FUNCTION
def cleaning(text):
    """
    Properly cleans text by:
    1. Keeping only alphanumeric characters and whitespace
    2. Converting to lowercase
    3. Tokenizing the result
    """
    # Fixed regex pattern (removes all except letters, numbers, spaces)
    cleaned_text = re.sub(r'[^\w\s]', '', text)
    # Tokenize with error handling
    try:
        tokens = word_tokenize(cleaned_text.lower())
        #return tokens
        #removes prepositions
        stemming = [ps.stem(word) for word in tokens if word not in stopwords.words('english')]
        return " ".join(stemming)
    except LookupError:
        nltk.download('punkt', force=True)
        return cleaning(text) 
        #return word_tokenize(cleaned_text.lower())

In [121]:
# 4. TEST WITH PROPER STRING FORMATTING
test_text = 'this is my book with @ 8987 digital loving and \n\n\n\n &&%'
print("Cleaning Result:", cleaning(test_text))

Cleaning Result: book 8987 digit love

In [127]:
# Assuming your original cleaning() function is already defined
df['Title'] = df['Title'].apply(cleaning)
df['Job.Description'] = df['Job.Description'].apply(cleaning)

In [122]:
df['Title']== df['Title'].astype(str).apply(lambda x: cleaning(x))
df['Job.Description'] = df['Job.Description'].astype(str).apply(lambda x: cleaning(x))

In [128]:
df['Title']

64119                          site director knowledg univ
35827                          administr assist officeteam
72100                     account manag chi payment system
46355    outsid whole sale rep parttim river front chry...
34166      custom servic rep help peopl hear loss captionc
                               ...
66282      sale repr sale associ entri level vector market
39515                             staff account accountemp
69231                    unarm secur offic us secur associ
69618                  line cook crown plaza independ oper
6144     kitchen manag job detail artesian hotel casino...
Name: Title, Length: 1000, dtype: object

In [88]:
df['Job.Description']

64119    job summari knowledg univ ku site director sit...
35827    ref id 03110118480classif secretaryadmin asstc...
72100    yoursquor energet motiv hardwork look prosper ...
46355    outsid whole sale rep job respon sale repr com...
34166    captionc commun assist imagin life without tel...
                               ...
66282    nbsp eager learn opportun whether look parttim...
39515    ref id02120107460classificationaccount staffco...
69231    direct supervi unarm secur offic respon patrol...
69618    summari respon maintain set food product quali...
6144     posit descript provid leadership supervi direc...
Name: Job.Description, Length: 1000, dtype: object

In [129]:
print(df.columns)

Index(['Title', 'Job.Description', 'Cleaned_Title', 'new_col', 'clean_title'], dtype='object')

In [130]:
df['Job.Description'][64119 ]

'job summari knowledg univ ku site director site leader inspir children teacher alik learn grow passion educ excel confid teach children adult use nation recogn curriculum framework creat uniqu engag classroom experi commit make site success know mean relationship children famili team import success fulli engag enthusiast work eager share knowledg job respon essenti function basic expect site director cour creativ new way meet exceed expect encourag long requir essenti function also met supervi children staff record keep licen record child file lesson plan implement mainten safe welcom classroom environ build relationship commun school recruit new student program applic must strong organiz skill'

In [132]:
df['new_col'] = df['Title'] + ' ' + df['Job.Description']
df.head(3)

,Title,Job.Description,Cleaned_Title,new_col,clean_title
64119,site director knowledg univ,job summari knowledg univ ku site director sit...,site director knowledg univers,site director knowledg univ job summari knowle...,site director knowledge universe
35827,administr assist officeteam,ref id 03110118480classif secretaryadmin asstc...,administr assist officeteam,administr assist officeteam ref id 03110118480...,administrative assistant officeteam
72100,account manag chi payment system,yoursquor energet motiv hardwork look prosper ...,account manag chi payment system,account manag chi payment system yoursquor ene...,account manager chi payment systems

#Machine only knows numbers thats why we are dealing with vectors
#cosine similarity to determine, smaller = more similarity
#we take sentences as row and documents
#tfidfvectrizer calculates the frequency of words in a sentence hence gives us vectors and the we determine the cosine similarity

In [133]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [134]:
tfidf = TfidfVectorizer()
matrix = tfidf.fit_transform(df['new_col'])
similarity = cosine_similarity(matrix)

In [135]:
similarity

array([[1.        , 0.04057243, 0.02596744, ..., 0.05634704, 0.02565254,
        0.08485668],
       [0.04057243, 1.        , 0.02663707, ..., 0.03247892, 0.00517727,
        0.02358889],
       [0.02596744, 0.02663707, 1.        , ..., 0.05841005, 0.02726075,
        0.0420268 ],
       ...,
       [0.05634704, 0.03247892, 0.05841005, ..., 1.        , 0.06400824,
        0.11716149],
       [0.02565254, 0.00517727, 0.02726075, ..., 0.06400824, 1.        ,
        0.38638129],
       [0.08485668, 0.02358889, 0.0420268 , ..., 0.11716149, 0.38638129,
        1.        ]])

In [136]:
enumerate(similarity[0])

In [140]:
def recommendation(title):
    idx = df[df['Title'] == title].index[0]
    idx = df.index.get_loc(idx)
    distances = sorted(list(enumerate(similarity[idx])),key=lambda x:x[1],reverse=True)[1:20]

    jobs=[]
    for i in distances:
        jobs.append(df.iloc[i[0]].Title)
    return jobs

In [141]:
recommendation('site director knowledg univ')

['site director knowledg univ educ llc',
 'teacher knowledg univ',
 'assist teacher knowledg univ',
 'assist teacher knowledg univ',
 'cook knowledg univ',
 'immedi open assist teacher la petit academi',
 'summer school age assist children courtyard',
 'hvac instructor vatterott educ center',
 'temporari coordin site oper macyscom maci',
 'medic offic assist instructor concord career colleg inc',
 'fellowship program coordin connecticut children medic center',
 'pharmaci adjunct instructor brown macki colleg',
 'youth camp residenti assist activ coordin new york ny el educ servic',
 'design bed sell specialist full timepart time bloomingd mall short hill nj maci',
 'secur offic 100000 job coalit securita usa',
 'secur offic regular securita usa',
 'handbag sell specialist part time bloomingd chevi chase md bloomingd',
 'men design sell specialist full timepart time bloomingd newport beach ca bloomingd',
 'women shoe sale profess part time bloomingd 59th street nyc maci']

#website part

In [142]:
import pickle
pickle.dump(df,open('df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))